/* SHARED CLASSES */
.bg-shared{
  background-color: #FCD232;
}
.btn-color{
  background-color: #FF1300;
}
/* ________ */

/* navbar */
.navbar-brand{
 
  margin-right: 24px;
}
.brainster-logo {
  width: 40px;
  height: 40px;
}
.brainster-caption {
  font-size: 10px;
}
.nav-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02), 0 5px 5px rgba(0, 0, 0, 0.06) ;
  z-index: 100;
}
.nav-link{
  font-size: 14px;
}
.navbar-nav{
  align-items: center;
}
.fa-times{
  cursor: pointer;
}

/* navbar-toggler */
.navbar-toggler {
  border: 0;
  outline: 0;
}
.navbar-toggler span:nth-child(1) {
  height: 5px;
  width: 40px;
}
.navbar-toggler span:nth-child(2) {
  height: 5px;
  width: 30px;
}
.navbar-toggler span:nth-child(3) {
  height: 5px;
  width: 20px;
}
/* /navbar-toggler */

/*navbar hover */
.nav-link {
  transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #dc3545;
  transition: width 0.3s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.nav-item .btn::after {
  background: white;
}

.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}
.nav-close{
  display: none;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 40px;  
}


/* /navbar  */

/* main-section */
.labs-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('../images/Space1.jpg');
  height: 528px;
  background-position: center;
}
.brainster-title{
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-shadow: -2px 4px 0 rgba(0,0,0,0.3);
}
.brainster-title h1 {
  font-size: 65px;
}
.main-section .container-fluid{
  height: calc(100vh-117px);
}
/* main-section projects */
.focus-title:focus{
  background-color: #dc3545;
}
.bg-custom{
  border-right: 1px solid #d1d1d118;
  background-color: #302F38;
}
.bg-custom.active {
  background-color: #dc3545;
}
.active .project-title{
  color: #302F38 !important;
}
.project-title{
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}
.fa-check-circle{
  font-size: 40px;
  color: #302F38;
}
.projects-nav{
  cursor: pointer;
}
/*  /main-section */

/* card section */
.card {
  min-height: 200px;
}
.float-right a{
  font-weight: 500;
}

/* card hover */
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
/* /card hover */



@media (max-width: 991px) {
  .navbar-collapse {
    height: 100vh;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #302f38 !important;
    padding: 30px 10px;
  }
  .nav-link{
    display: inline-block;
    color: white!important;
    font-size: 18px;
  }
  .nav-close{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .navbar-nav{
    align-items: unset;
  }
  .labs-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('../images/Space1.jpg');
    height: 400px;
    background-position: center;
  }
  
}

/* SecondPage Css */
.students-title h1 {
  font-size: 50px;
}
.students-title{
  height: 290px;
}
.input-lg{
  height: 50px;
  font-style: italic;
}
.form-select{
  display: block;
    width: 100%;
    height: 50px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: bold;
}
.label-hide{
   visibility: none;
   opacity: 0;
}
.form-select option{
  font-weight: bold;
}
.send-button{
  padding-left: 9px ;
  padding-right: 9px ;
}
.send-button .btn{
  height: 50px;

}

/* footer  */
footer{
  background-color: #302F38;
}
.brainster-footer{
  color: white;
}
.brainster-footer:hover{
  text-decoration: none;
  color:  #dc3545;
}